<a href="https://colab.research.google.com/github/juveria-INFO5731-Spring2022/in-class-excercise-01/blob/main/inclass_assignmentjuveria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
 #Length of string len()

In [52]:
Str1 = "in class assignment of juveria"
print("the length of Str 1 is :", len(Str1))

the length of Str 1 is : 30

In [53]:
#Count the characters count()
input_string1 = "In class excercise of juveria"
count = {}
for char in input_string1:
  if char in count:
    count[char]+= 1
  else:
    count[char]=1
print ("characters in '{}' is :\n {}" .format(input_string1, str(count)))

characters in 'In class excercise of juveria' is :
 {'I': 1, 'n': 1, ' ': 4, 'c': 3, 'l': 1, 'a': 2, 's': 3, 'e': 4, 'x': 1, 'r': 2, 'i': 2, 'o': 1, 'f': 1, 'j': 1, 'u': 1, 'v': 1}

In [54]:
#sum of all the items in a list sum()
List = {1,2,3,4,5}
sum(List)

15

In [55]:
#to get a string from a string
def string_char(string1):
  char = string1[0]
  string1 = string1.replace(char, '\\$')
  string1 = char + string1[1:]
  return string1
print(string_char('restart'))

r$esta\$t

In [ ]:
#calculating a & b
def multiply_numbers(a = 2,b = 4)
    s = 3.14*(1+a/b)^3
    return s

In [ ]:
#concatinating dictionaries
dic1 = {1:10, 2:20} 
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

In [ ]:
#to check a element in tuple
t= (4,6,9,8)
character = 4
if character in t:
  print(character, "exists in t")
else:
  print(character, "dosen't exists in t")

In [ ]:
set = {5, 10, 3, 15, 2, 20}
print("\nMaximum value of the said set:")
print(max(set))
print("\nMinimum value of the said set:")
print(min(set))

In [ ]:
#duplicate items array
def duplicate(nums):
    num_set = set()
    duplicate = -1
    for i in range(len(nums)):
        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])
    return duplicate
print(duplicate([1, 2, 3, 4, 4, 5]))
print(duplicate([1, 2, 3, 4]))

In [ ]:
#selecting all sundays
import pandas as pd
year = "2020"
start = year + "-01-01"
periods = 52
freq = "W-SUN"
sundays = pd.date_range(start = start,periods = periods,freq = freq)
print(sundays)