<a href="https://colab.research.google.com/github/juveria-INFO5731-Spring2022/in-class-excercise-01/blob/main/juveria_assignment_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# To create a list of random integer values:
import random
randomlist = random.sample(range(1, 20), 12)
print(randomlist)

[6, 2, 17, 19, 1, 10, 14, 9, 3, 12, 4, 8]

In [ ]:
import random
def sort(num):
    return num
list1 = random.sample(range(1,100),12)
list1.sort(key=sort)
print(list1)

[9, 21, 26, 32, 35, 38, 69, 76, 81, 83, 94, 98]

In [ ]:
import random
def sort(num):
    return num
list1 = random.sample(range(1,100),12)
list1.sort(key=sort,reverse=True)
print(list1)

[95, 81, 76, 75, 57, 52, 45, 43, 41, 25, 12, 10]

In [ ]:
import random
def find_Average(n):
    sum_num = 0
    for i in n:
        sum_num = sum_num + i        
    avg = sum_num / len(n)
    return avg
l = random.sample(range(1,100),12)
print('The average of list = %0.2f' %find_Average(l))

The average of list = 56.33

In [ ]:
#Ask the user to enter two sentences.
A = str(input("enter first sentence"))
print(A)
B = str(input("enter second sentence"))
print(B)

enter first sentenceshe is my friend
she is my friend
enter second sentenceshe is not my friend
she is not my friend

In [ ]:
sentence1 = 'Alas ! she is no more she is my friend'
split_sentence1 = sentence1.split(' ')
print(split_sentence1)

['Alas', '!', 'she', 'is', 'no', 'more', 'she', 'is', 'my', 'friend']

In [ ]:
#compare two sentences
string1="she is my friend" 
string2="she is not my friend" 
result= []
if(len(string1)<len(string2)): 
	for i in string1: 
		if(i in string2): 
			result.append(i) 
else: 
	for i in string2: 
		if(i in string1): 
			result.append(i) 
print("Common character are:",*result)

Common character are: s h e   i s   m y   f r i e n d

In [ ]:
#Remove punctuation
import string
a_string = 'alas! she is no, more.'
new_string = a_string.translate(str.maketrans('', '', string.punctuation))
print(new_string)

alas she is no more

In [ ]:
#counting of vowels
a_string = "she is not my friend"
lowercase = a_string.lower()
vowel_counts = {}
for vowel in "aeiou":
    count = lowercase.count(vowel)
    vowel_counts[vowel] = count
print(vowel_counts)

{'a': 0, 'e': 2, 'i': 2, 'o': 1, 'u': 0}

In [ ]:
#the difference in the number of Occupied Housing
import pandas as pd

df = pd.read_csv('Assignment1_denton_housing.csv')
df.head()

from typing import List, Tuple
def year_pairs_from_list(items: List[int]) -> List[Tuple[int, int]]:
    shifted_items = [*items[1:], items[-1]]
    pairs = list(zip(items, shifted_items))[:-1]
    pairs = [
        f'{first_year}-{second_year}' for first_year, second_year in pairs
    ]

    return pairs

occupied_housing_units_df = df.loc[df['title_field'] ==
                                   'Occupied Housing Units']
occupied_housing_units_df = occupied_housing_units_df.sort_values(by=['year'])
occupied_housing_units_differences = occupied_housing_units_df['value'].diff(-1).abs().to_list()[:-1]  
year_pairs = year_pairs_from_list(occupied_housing_units_df['year'].to_list())
occupied_housing_units_differences_df = pd.DataFrame({'Consecutive Years': year_pairs,'Occupied Housing Units Differences':occupied_housing_units_differences
}).sort_values(by='Occupied Housing Units Differences')
print(occupied_housing_units_differences_df.to_string(index=False))

In [ ]:
# Calculate the percentages
import numpy as np
df = pd.read_csv('Assignment1_denton_housing.csv')
df.head()
from typing import List, Tuple
def year_pairs_from_list(items: List[int]) -> List[Tuple[int, int]]:
    shifted_items = [*items[1:], items[-1]]
    pairs = list(zip(items, shifted_items))[:-1]
    pairs = [
        f'{first_year}-{second_year}' for first_year, second_year in pairs
    ]

    return pairs

occupied_housing_units_percentages = np.rint(
    (occupied_housing_units_df['value'].to_numpy() /
     total_housing_units_df['value'].to_numpy()) * 100)
vacant_housing_units_percentages = np.rint(
    (vacant_housing_units_df['value'].to_numpy() /
     total_housing_units_df['value'].to_numpy()) * 100)

housing_units_percentages_df = pd.DataFrame({
    'Year':
    vacant_housing_units_df['year'].to_list(),
    'Vacant Housing Units':
    vacant_housing_units_percentages,
    'Occupied Housing Units':
    occupied_housing_units_percentages
})
print(housing_units_percentages_df.to_string(index=False))

In [ ]:
#the highest number of housing units were vacant and occupied
import numpy as np
df = pd.read_csv('Assignment1_denton_housing.csv')

max_vacant_housing_units_df = vacant_housing_units_df.loc[vacant_housing_units_df['value'] == vacant_housing_units_df['value'].max()].drop('title_field', axis=1)
max_occupied_housing_units_df = occupied_housing_units_df.loc[occupied_housing_units_df['value'] ==occupied_housing_units_df['value'].max()].drop('title_field', axis=1)
max_housing_units = pd.concat([max_vacant_housing_units_df, max_occupied_housing_units_df])
max_housing_units = max_housing_units.set_index([pd.Index(['Vacant Housing Units', 'Occupied Housing Units'])])
max_housing_units.columns = ['Year', 'Value']

print(max_housing_units.to_string())

In [ ]:
def harmonic_mean(a: List[int]) -> float: 
    return len(a) / np.sum(1.0 / a)

total_housing_units = total_housing_units_df['value'].to_numpy()

print(Harmonic mean of total housing units: {harmonic_mean(total_housing_units)}')